.carousel,
.carousel-item .card,
.carousel-item .row {
  height: 20rem;
}

.carousel-item .col-md-4,
.carousel-item .col-md-8 {
  align-content: center;
  justify-content: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 18rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: calc(3vh + 1vw);
  height: calc(3vh + 1vw);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: calc(2vh + 1vw);
  height: calc(2vh + 1vw);
}

@media (max-width: 992px) {
  .carousel-item h3 {
    font-size: calc(1.2rem * 1vw);
  }

  .carousel-item p {
    font-size: calc(0.5rem + 0.5vw);
  }
}

@media (max-width: 768px) {
  .carousel-item img {
    max-width: 100%;
    max-height: 7rem;
  }

  .carousel-item .col-md-4 {
    padding: 0 !important;
  }
  .carousel-item .col-md-8 {
    max-height: 100%;
    padding: 0rem 1.5rem 0.5rem 1.5rem !important;
    text-align: center;
  }

  .carousel-item p {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .carousel-item h3 {
    font-size: calc(1.2rem * 1vw);
  }

  .carousel-item p {
    font-size: calc(0.5rem + 0.5vw);
  }
}
